#coloring{
    color:#03506f;
    font-size:18px;
    letter-spacing:2px;
}
#cheina{
  font-family:Abril Fatface;
  font-size:30px;
    letter-spacing:2px;
    
}
#tlemcheina{
  font-family:Roboto,sans-serif;
   font-size:30px;
    letter-spacing:2px;}
    